<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}"> 
    </head>
    <body>
        <h1 style="border: 1px solid rgb(0, 0, 0)"> Explore Saturn</h1>
        <p> Saturn, second largest planet of the solar system in mass and size and the sixth nearest planet in distance to the Sun. In the night sky Saturn is easily visible to the unaided eye as a non-twinkling point of light. 
            When viewed through even a small telescope, the planet encircled by its magnificent rings is arguably the most sublime object in the solar system. Saturn is designated by the symbol ♄. 
            Saturn’s name comes from the Roman god of agriculture, who is equated with the Greek deity Cronus, one of the Titans and the father of Zeus (the Roman god Jupiter). 
            As the farthest of the planets known to ancient observers, Saturn also was noted to be the slowest-moving. 
            At a distance from the Sun that is 9.5 times as far as Earth’s, Saturn takes approximately 29.5 Earth years to make one solar revolution. 
            The Italian astronomer Galileo in 1610 was the first to observe Saturn with a telescope. Although he saw a strangeness in Saturn’s appearance, the low resolution of his instrument did not allow him to discern the true nature of the planet’s rings.

            Saturn occupies almost 60 percent of Jupiter’s volume but has only about one-third of its mass and the lowest mean density—about 70 percent that of water—of any known object in the solar system. 
            Hypothetically, Saturn would float in an ocean large enough to hold it. Both Saturn and Jupiter resemble stars in that their bulk chemical composition is dominated by hydrogen. 
            Also, as is the case for Jupiter, the tremendous pressure in Saturn’s deep interior maintains the hydrogen there in a fluid metallic state. Saturn’s structure and evolutionary history, however, differ significantly from those of its larger counterpart. 
            Like the other giant, or Jovian, planets—Jupiter, Uranus, and Neptune—Saturn has extensive systems of moons (natural satellites) and rings, which may provide clues to its origin and evolution as well as to those of the solar system. 
            Saturn’s moon Titan is distinguished from all other moons in the solar system by the presence of a significant atmosphere, one that is denser than that of any of the terrestrial planets except Venus.
            Source: https://www.britannica.com/place/Saturn-planet
        </p>
        <button class="center"> Home</button>
        <p>Click to go home</p>
        <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc29GIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--3de3abd31444f6150d32b6b13ce2ed2f03b1d313/PIA18320.jpg?disposition=attachment" 
          alt="Saturn Image" class="center">
    </body>
</html>