<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}"> 
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            </style>
    </head>
    <body>
        <h1 style="font-size:80px;"> Saturn Homepage</h1>
        <button class="center"> Learn More</button>
        <p>Click above to learn more about Saturn!</p>
        <img src="https://solarsystem.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2NTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--381c53bc39247134629366ca6731e1ca801c7473/stsci-h-p1943a-f_1200.jpg?disposition=attachment" 
            alt="Planet" class="center">
    </body>
</html>